<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Timer Widget Receiver -->
        <receiver
            android:name=".FocusTimerWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/focus_timer_widget_info" />
        </receiver>

        <!-- Widget Action Receiver -->
        <receiver
            android:name=".FocusTimerWidgetActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.widget.ACTION_START_TIMER" />
                <action android:name="${applicationId}.widget.ACTION_PAUSE_TIMER" />
                <action android:name="${applicationId}.widget.ACTION_RESUME_TIMER" />
                <action android:name="${applicationId}.widget.ACTION_STOP_TIMER" />
                <action android:name="${applicationId}.widget.ACTION_COMPLETE_TIMER" />
                <action android:name="${applicationId}.widget.ACTION_INCREASE_TIME" />
                <action android:name="${applicationId}.widget.ACTION_DECREASE_TIME" />
                <action android:name="${applicationId}.widget.ACTION_OPEN_APP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
